<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="../../assets/css/style.css">
    <link rel="stylesheet" href="../../assets/css/participe.css">
    <title>Hall of Fame | Participe</title>
    <style>
        #email {
            text-decoration: wavy underline orange;
            text-underline-offset: 6px;
            overflow-wrap: break-word;

        }
    </style>
</head>

<body>
    <header>
        <nav class="navbar bg-primary navbar-expand-sm">
            <div class="container">
                <a href="#" class="navbar-brand d-flex align-items-center fs-2 text-decoration-underline">
                    Hall of Fame
                    <img src="../../assets/imgs/icons/star-fill.svg" class="ms-2" alt="little star">
                </a>
            </div>
        </nav>
    </header>
    <main>
        <div class="container mt-5 mx-auto w-75 border px-4 py-4">
            <form method="post" enctype="application/x-www-form-urlencoded">
                <h1 class="title text-center fs-2">Autenticação</h1>
                <div class="row mx-auto mb-5">

                    <p class="text-center fs-4 mt-0">
                        Um email foi enviado para <strong>
                            <%= email %>
                        </strong>
                    </p>
                    <p class="text-center">
                        <button href="#" class="btn text-danger mt-0" id="wrongEmail">Email errado?</button>
                    </p>

                    <!-- Email -->
                    <div class="row-6 ">
                        <div class="col-6 md-4 lg-6 sm-6 mx-auto">
                            <input type="text" class="form-control text-center mb-2 d-inline w-75 mx-auto d-block"
                                name="authCode" id="authCode" tabindex="1" autofocus>
                            <p class="form-text text-center">Insira o código de verificação enviado para o seu email</p>
                        </div>

                    </div>

                    <div class="loading-screen mx-auto mt-4 mb-3 d-none">
                        <div class="loader mx-auto"></div>
                        <p class="text-center mt-3">Verificando email</p>
                    </div>
                    <p class="text-center text-warning fw-bold d-inline" id="log"></p>
                    <hr>
                    <div class="container">
                        <div class="row mx-auto gap-2">
                            <div class="col">
                                <button type="submit"
                                    class="btn btn-warning submit fs-5 mb-3 mx-auto d-block text-center"
                                    id="confirmCode">Confirmar
                                    código</button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col mt-0">
                                <button type="button" class="btn text-decoration-underline text-center w-100"
                                    id="resendCode" title="Não se esqueça de checar se o email está correto.">
                                    Reenviar código
                                </button>
                                <p class="text-center form-text">Aguarde 30s para enviar dnv</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Submit button -->

        </div>
        </form>
        </div>
    </main>
    <footer>

    </footer>
    <script type="module" src="../../assets/script/emails/authentication.js"></script>
</body>